fastapi>=0.115.0
uvicorn[standard]>=0.30.0
pydantic>=2.7.0
python-dotenv>=1.0.1
python-multipart>=0.0.9

langgraph>=0.2.40
langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-groq>=0.2.0
langchain-huggingface>=0.1.0
langchain-chroma>=0.1.4
langchain-text-splitters>=0.3.0

chromadb>=0.5.0
sentence-transformers>=3.0.0

unstructured[md]>=0.15.0
duckduckgo-search>=6.2.0
ddgs>=3.9.0
